#sk8 {
    font-family: helvetica;
    font-size: 2.7em;
    right: 100px;
    top: 100px;
}

#ub {
    font-family: helvetica;
    font-size: 2.7em;
    right: 100px;
    top: 100px;
}
#aj {
    font-family: helvetica;
    font-size: 2.7em;
    right: 100px;
    top: 100px;
}

#con {
    font-family: helvetica;
    font-size: 2.7em;
    right: 100px;
    top: 100px;
}

#crop {
    display:inline-block;
}

#line {
    text-align: center;
}
